@import 'partials/setup';
@import 'partials/typography';

body {
	background-image: url(../images/background-image.jpg);
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 50px;
	position: relative; // to position basketball net
	min-width: 320px; /* Smallest width we are targetting */
}

.wrapper {
	max-width: 1040px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// display: none;
	overflow: hidden;
}

form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.card-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	perspective: 1920px;
	perspective-origin: center center;
}

// ********* START OF AUTOCOMPLETE STYLING ********* 
.autocomplete {
  /*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
	width: calc(100%/3);
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: transparent;
	width: 100%;
	border: 3px solid white;
	color: white;
	transition: 0.2s;
	&:hover,
	&:focus{
		box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
	}
}
#compare {
  background-color: white;
	color: black;
	line-height: 1;
	border: none;
	padding: 0 30px;
	height: 46px;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0.2s;
	border: 3px solid transparent;
	&:hover {
		border: 3px solid white;
		color: white;
		background: rgba(255, 255, 255, 0);
		box-shadow: 0 0 5px white, 0 0 10px;
	}
	&:active {
		opacity: 0.5;
	}
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #000 !important;
  color: #ffffff;
}

// ********* END OF AUTOCOMPLETE *********

// ********* START OF CARD BACK *********

.card-back {
	width: 360px;
	background: rgba(255,255,255,0.3);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	border: 15px solid white;
	border-top: 20px solid white;
	border-bottom: 20px solid white;
	box-shadow: 0px 5px 10px black, 0 5px 30px black;
	position: relative;
	display: none;
	
	img {
		margin: 0 auto;
		display: block;
	}
}

.image-container, .text-container {
	width: 100%;
}

.text-container {
	padding: 20px;
	font-family: 'Titillium Web', sans-serif;
	line-height: 1;
}

.rotate-card1 {
	box-shadow: -5px 5px 10px black, 0 5px 10px black;
}

.rotate-card2 {
	box-shadow: 5px 5px 10px black, 0 5px 10px black;
}

.rotate-card {
	transition: all 1s;
	transform-style: preserve-3d;
	outline: 1px solid white;
}

.basic-info {
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
	text-align: center;

	.height, .number {
		width: 50%;
	}
	.team{
		margin-top: 10px;
		width: 100%;
	}
}

.stats-container {
	list-style: none;
	padding: 0;
	li {
		display: flex;
		justify-content: space-between;
		padding: 5px 0;
	}
}

// Styling basketball net 
.net-container,
.shotclock-container {
	position: relative;
}
.net {
	position: absolute; // set body to pos-r
	top: 0;
	left: -20px;
	opacity: 0.4;
	z-index: -1;
	max-width: 100%;
}

.shotclock {
	position: absolute; // set body to pos-r
	top: 0;
	right: 0;
	opacity: 0.4;
	width: 350px;
	z-index: -1;
	max-width: 100%;
}

.net-container:after {
	display: block;
	position: absolute;
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, black 100%);
	height: 400px;
	width: 25%;
	content: '';
}

.shotclock-container:after {
	content: '';
	position: absolute;
	top:0;
	right: 0;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, black 100%);
	height: 400px;
	width: 15%;
}

.logo {
	max-width: 100%;
	max-height: 100%;
}

.logo2 {
	left: 1%;
}

.logo1 {
	right: 1%;
}

.logo-container {
	position: absolute;
	top: 0;
	height: 100px;
	width: 100px;
}

.horizontal-bar {
	background-color: white; 
	position: absolute;
	width: 100%;
	height: 11px;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.2s;
}

.card-piping {
	width: calc(100% + 20px);
	height: calc(100% + 30px);
	border: 2px solid black;
	position: absolute;
	background-color: rgba(0,0,0,0);
	left: 50%;
	top: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
}

.horizontal-pipe {
	width: calc(100% + 20px);
	position: absolute;
	border: 1px solid black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title {
	font-size: 50px;
	margin-bottom: 20px;
	text-shadow: 0px 0px 10px rgb(255, 136, 0);
}

.player-select {
	margin-bottom: 20px;
	font-size: 20px;
}

.vs {
	display: block;
	font-size: 50px;
	font-weight: bold;
	color: white;
	font-family: 'Orbitron', sans-serif;
}

.vsdisplay {
	display: none;
}

.slidecontainer, .slider {
    width: 100%; /* Width of the outside container */
}

.slider {
	background: transparent; /* Grey background */
	outline: none;
	opacity: 0.4;
	transition: all 0.2s;
}

.slider:hover {
	opacity: 1;
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-focus-outer {
    border: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	-moz-appearance: none; /* Override default look */
    appearance: none;
}

.stats-container li p {
	font-size: 20px;
}

// ***** MEDIA QUERIES *****

@media (max-width: 800px) {
	#vs {
		display: none;
	}
}

@media (max-width: 720px) {
	.card-container {
		flex-direction: column;
		align-items: center;
	}

	.bounceInLeft, .bounceInRight {
		animation-name: fadeIn;
	}
	.card-back {
		transform: rotateY(0) !important; /* Needed to override Animate.css stylings */
	}
	
	.card-back1 {
		margin-bottom: 50px;
	}

	.shotclock-container {
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
	}

	 .net-container {
		width: 50%;
		position: absolute;
		top: 0;
		left: 0;
	 }

}

@media (max-width: 650px) {
	form {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	#compare {
		margin: 25px 0;
		width: 50%;
		min-width: 250px;
	}

	.autocomplete {
		width: 50%;
		min-width: 250px;
	}


}

@media (max-width: 450px) {
	.card-back {
		width: 300px;
	}

	.title {
		font-size: 40px;
	}

	.logo-container {
	height: 75px;
	width: 75px;
	}

}

@media (max-height: 670px) {
	.net-container:after {
		background-image: none;
	}
	
	.net {
		opacity: 0.2;
	}

	.shotclock-container:after {
		background-image: none;
	}
	
	.shotclock {
		opacity: 0.2;
	}
}